

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
main{
    max-width: 700px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(300px, auto);
    grid-auto-flow: row;
    grid-auto-rows: 300px 100px;

    
    
}
@media (max-width: 900px){
    main{
        display: block;
        margin: auto;
        padding: 10px;
        
    }
    

}
header{
    text-align: center;
    width: 100%;
    height: 200px;
    font-family: 'Bebas Neue', sans-serif;
}
header img{
    position: relative;
    margin: 0 auto;
    border: 2px solid black;
}
nav{ 
    text-align: center;
    max-width: 900px;
    margin: 0 auto;

}
nav a{
    
    text-decoration: none;
    margin: 10px;
    color: black;
    display: block;
    padding: 10px;
    font-size: 22px;
    font-family: 'Play', sans-serif;
}
nav ul {

    list-style: none;
}
nav a:hover{
    font-size: 23px;
    color: blue;
    
}

@media (min-width: 700px){
    nav ul{
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }

}

main .container-1 h2{
    font-family: 'Bebas Neue', sans-serif;
    padding: 20px;
    border-bottom: 1px solid grey;
    
}
main .container-1 .card h3{
    font-family: 'Bebas Neue', sans-serif;
    height: auto;
    max-height: 80px;
    margin: 10px;
}
.container-1 {
    border: 3px solid black;

}
.card-2 h3{
    font-family: 'Bebas Neue', sans-serif;
    padding:40px;
}

.container-1 .card ul {
    list-style: none;
    text-align: center;
    margin: 10px;
    padding: 10px;
    
}
.container-1 .card ul a{
    text-decoration: none;
    margin: 20px;
    color: black;
    font-family: 'Play', sans-serif;
    
}

.container-1 .card ul a:hover{
    font-size: 105%;
    color: blue;
}

.container-2{
    
    border: 3px solid black;
}
footer{
    text-align: center;
    padding: 30px;
    font-family: 'Play', sans-serif;
    
}
